$white:    #fff;
$purple:  #6f42c1;
$green:   #28a745;
$blue:    #007bff;
$indigo:  #6610f2;


$primary:       $green;
$secondary:     $purple;

$enable-rounded:                              false;
$enable-gradients:                            true;



// Body
//
// Settings for the `<body>` element.

$body-bg:                   $blue;
$body-color:                $white;